.DairyEditor{
  border: 1px solid gray;
  text-align: center;
  padding: 20px;
}

.DairyEditor input,
textarea{
  margin-bottom: 20px;
  width: 500px;
  padding: 10px;
}

.DairyEditor textarea{
  height: 150px;

}

.DairyEditor select{
  width: 300px;
  padding: 10px;
  margin-bottom: 20px;
}

.DairyEditor button{
  width: 500px;
  padding: 10px;
  cursor: pointer;
}

/* List*/

.DairyLIst{
  border: 1px solid gray;
  padding: 20px;
  margin-top: 20px;
}

.DairyList h2{
  text-align: center;
}

/* Item */

.DairyItem{
  background-color: rgb(240, 240,240);
  margin-bottom: 10px;
  padding: 20px;
}

.DiaryItem.info{
  border-bottom: 1px solid gray;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.DairyItem .date{
  color: gray;
}

.DairyItem .content{
  font-weight: bold;
  margin-bottom: 30px;
  margin-top: 30px;
}